@charset "UTF-8";
@import "grid";
@import "normalize";
@import "fonts";
@import "sprite";
@import "utilities";
@include retina-sprites($retina-groups);

* {
    box-sizing: border-box;
}
body {
    font-family: "MyriadProRegular";
}
.fsz13 {
    font-size: 13px;
}
.fsz34 {
    font-size: 34px;
}
.fsz24 {
    font-size: 24px;
}
.cnt {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
.hidden {
    display: none;
}
input.hidden {
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    display: block;
    border: none;
    margin-bottom: -1px;
}
input, textarea {
    color: #121315;

    &:focus {
        outline: none;
    }
}
input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder {
    font-family: "MyriadProRegular";
    color: #B8C1CE;
}
textarea {
    border: 1px solid #dfe1e8;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    min-height: 90px;
    resize: vertical;
    padding: 14px;
}
form {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 100;
}
.preloader {
    background: url('images/ajax-loader3.gif') no-repeat center #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 4px;
}
#login-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/login.jpg) center top;
    background-size: cover;

    .logo {
        display: block;
        margin: 170px auto 25px auto;

        @media (max-height:730px) {
            margin-top: 70px;
        }
        @media (max-height:600px) {
            margin-top: 20px;
        }
    }
    h1 {
        text-align: center;
        color: white;
        margin-bottom: 67px;
        letter-spacing: 2px;
    }
    form {
        display: block;
        margin: 0 auto;
    }
    .input-wrap {
        width: 300px;
        height: 50px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;

        &.has-icon {
            padding-right: 50px;

            input {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .icon-wrap {
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                width: 50px;
                height: 50px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-left: none;
                color: rgba(255, 255, 255, 0.5);
                text-align: center;
                text-decoration: none;
                line-height: 50px;
            }
        }
    }
    input {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        padding-left: 17px;
        padding-right: 17px;
        display: block;
        outline: noen;
        background: transparent;

        &:focus {
            outline: none;
        }
        &.error {
            border-color: #f03737;

            & ~ a {
                border-color: #f03737 !important;
            }
        }
    }
    #error-message {
        color: #f03737;
        text-align: center;
        font-size: 14px;
        width: 300px;
        margin: 0 auto;
    }
    label {
        position: absolute;
        width: 192px;
        height: 50px;
        background: rgba(247, 41, 41, 0.6);
        color: white;
        top: 0;
        left: -202px;
        text-align: center;
        line-height: 50px;
        border-radius: 2px;
        font-size: 14px;
        text-transform: none;
    }
    input[type="submit"] {
        background: #316CF9;
        text-align: center;
        width: 300px;
        border: none;
        margin: 0 auto;
        margin-top: 21px;
        color: white;
    }
    .bottom {
        position: absolute;
        bottom: 40px;
        width: 100%;
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 18px;
    }
}
body.dashboard {
    padding-top: 70px;
}
.menubar {
    height: 70px;
    background: white;
    font-size: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    .cnt {
        height: 100%;
    }
    .item {
        display: inline-table;
        height: 100%;
        margin: 0 10px 0 0;
        padding: 0;

        &.userInfoWidgetCnt {
            margin-right: 0;
        }
        ul {
            list-style: none;
        }
    }
    .menulink {
        color: #6D6E6F;
        margin-right: 30px;
        text-decoration: none;

        &.active {
            color: #316CF9;
        }
    }
    .logo_dashboard {
        margin-right: 65px;
        display: inline-block;
    }
    .icon-lock, .username, .icon-user, .icon-exit {
        display: inline-block;
        vertical-align: middle;
    }
    .name {
        color: #2b2b2b;

        &:hover {
            border-color: #2b2b2b;
        }
    }
}
.dropit {
    border: none;
    position: relative;
    width: 100%;
    height: 34px;
    background: white;
    border-radius: 3px;
    font-size: 14px;
    color: #B8C1CE;
    display: block;

    &:after {
        content: '';
        position: absolute;
        top: 16px;
        right: 15px;
        @include sprite($dropdown_arrow);
    }
    .dropit-trigger {
        border: 1px solid #dfe1e8;
        border-radius: 3px;
    }
    .dropit-trigger.dropit-open {
        border-color: #4a87ff;
        border-left: 1px solid #4a87ff;
        border-radius: 0;
    }
    a.btn {
        display: block;
        width: 100%;
        height: 34px;
        padding: 0px 14px;
        font-size: 14px;
        color: #B8C1CE;
        line-height: 34px;
        text-decoration: none;
    }
    .dropit-submenu {
        background-color: white;
        border: 1px solid #4a87ff;
        left: -1px;
        min-width: 75px;

        li {
            display: block;
        }
        a {
            display: block;
            padding: 6px 13px;
            text-decoration: none;
            color: #121315;

            &:hover {
                color: white;
                background: #4A87FF;
            }
        }
    }
}
input:focus + .dropdown-list {
    display: block;
}
.dropdown-list {
    display: none;
    background-color: white;
    border: 1px solid #4a87ff;
    left: -1px;
    min-width: 75px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;

    li {
        display: block;
    }
    a {
        display: block;
        padding: 6px 13px;
        text-decoration: none;
        color: #121315;

        &:hover {
            color: white;
            background: #4A87FF;
        }
    }
}
input[required] ~ .dropit > li, input[required].datepicker {
    border-left: 2px solid #f56e23;
}
input.error ~ .dropit > li, input.error.datepicker {
    border: 1px solid #f44240;
    border-radius: 3px;
}
.datepicker-input, .dropdown-input, .input-wrap {
    position: relative;
    height: 50px;
    margin-bottom: 5px;

    label.error {
        color: #f44240;
        font-size: 10px;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.datepicker-wrap {
    padding: 0;
    position: relative;
    border: none;
    height: 50px;
    margin: 0 20px 0 0;
    border-radius: 3px;
    font-size: 14px;
    color: #B8C1CE;
    padding-bottom: 16px;
    display: block;
    margin-bottom: 5px;

    &:after {
        content: '';
        @include sprite($calendar);
        position: absolute;
        display: block;
        right: 9px;
        top: 5px;
    }
}
input.datepicker {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 14px;
    border: 1px solid #dfe1e8;
    border-radius: 3px;

    &:focus {
        border: 1px solid #316CF9;
        border-bottom: none;
        border-radius: 0;
    }
}
input.styled {
    width: 100%;
    height: 34px;
    padding: 0px 14px;
    border: 1px solid #dfe1e8;
    border-radius: 3px;

    &[required] {
        border-left: 2px solid #f56e23;
    }
}
.toolbar {
    height: 60px;
    background: #F3F3F3;
    padding-left: 30px;
    padding-top: 13px;
    border-bottom: 1px solid #dfe1e8;
    border-top: 1px solid #dfe1e8;

    input:focus {
        outline: none;
    }
    .item {
        width: 210px;
        height: 34px;
        margin: 0 20px 0 0;
        background: white;
        border: 1px solid #dfe1e8;
        border-radius: 3px;
        font-size: 14px;
        color: #B8C1CE;
        display: block;
        float: left;
        padding: 0px 14px;

        &:focus {
            outline: none;
        }
    }
    .item.dropit {
        border: none;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 16px;
            right: 15px;
            @include sprite($dropdown_arrow);
        }
        .dropit-trigger {
            border: 1px solid #dfe1e8;
        }
        .dropit-trigger.dropit-open {
            border-color: #4a87ff;
        }
    }
    input.search {
        width: 455px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        margin-right: 0;
    }
    input.item.search::-webkit-input-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    input.item.search::-moz-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    input.item.search:-moz-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    input.item.search:-ms-input-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    button.search {
        width: 85px;
        background: #316CF9;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid #316CF9;
        outline: none;

        .icon-search {
            vertical-align: top;
        }
    }
    .item.datepicker-wrap {
        padding: 0;
        position: relative;
        border: none;

        &:after {
            content: '';
            @include sprite($calendar);
            position: absolute;
            display: block;
            right: 9px;
            top: 5px;
        }
    }
    input.datepicker {
        border: none;
        width: 100%;
        height: 100%;
        padding: 0px 14px;
        border: 1px solid #dfe1e8;

        &:focus {
            border: 1px solid #316CF9;
            border-bottom: none;
        }
    }
    .item.dropit {
        padding: 0;

        a.btn {
            display: block;
            width: 100%;
            height: 34px;
            padding: 0px 14px;
            font-size: 14px;
            color: #B8C1CE;
            line-height: 34px;
            text-decoration: none;
        }
    }
    .dropit .dropit-submenu {
        background-color: white;
        border: 1px solid #4a87ff;
        left: -1px;

        li {
            display: block;
        }
        a {
            display: block;
            text-decoration: none;
            color: #121315;

            &:hover {
                color: white;
                background: #4A87FF;
            }
        }
    }
}
// Pickaday custom styling
.pika-single {
    font-family: "MyriadProBold";
    border: 1px solid #4a87ff;
    border-bottom-color: #4a87ff;

    &.is-bound {
        box-shadow: none;
    }
}
.pika-button {
    background: white;
    text-align: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 12px;
}
.is-today .pika-button {
    color: #4a87ff;
    font-weight: 700;
    border: 1px solid #4a87ff;
}
.is-selected .pika-button, .pika-button:hover {
    color: #fff;
    font-weight: 700;
    background: #4a87ff;
    box-shadow: inset 0 1px 3px #4a87ff;
    border-radius: 50%;
}
.darker {
    color: #454E58;
}
label.styled_ch {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;

    span {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #c7cfd8;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    input {
        visibility: hidden;

        &:checked + span {
            @include sprite($checkbox_on);
            border: none;
        }
    }
}
.action-on .table-wrap.head {
    display: none;
}
.cnt-claims {
    padding-top: 27px;
}
.table-wrap {
    border: 1px solid #dadada;
    border-radius: 3px;
    width: 980px;
    margin: 0 auto;
    padding: 20px 20px 30px 20px;

    &.head {
        border: none;
        margin-top: 0px;
        height: 68px;
        padding-bottom: 0;
        padding-top: 32px;
    }
    &.body {
        padding: 0 20px;

        tr {
            border-bottom: 1px solid #dadada;
            cursor: pointer;
        }
        table tr:last-child {
            border-bottom: none;
        }
    }
}
table.claims {
    font-family: "MyriadProRegular";
    width: 100%;

    tr {
        //color: #333;
        color: #8d9fb1;

        &.selected {
            //color: #5F85E9;
            color: #316cf9;
        }
    }
    th {
        // color: #999;
        color: #c7d0d5;
        font-size: 13px;
        text-transform: uppercase;
        text-align: left;
        font-weight: normal;
    }
    td {
        font-size: 14px;
        padding: 25px 0;
    }
}
span.label {
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 3px;
    display: inline-block;

    &.draft {
        background: #B7C6DA;
    }
    &.confirmed {
        background: #90C65E;
    }
    &.suspense {
        background: #79ACEF;
    }
    &.departure {
        background: #FC8D45;
    }
    &.rejected {
        background: #FA5B69;
    }
    &.rework {
        background: #EECD6B;
    }
    &.approved {
        background: #74D5BA;
    }
}
col#col1 {
    width: 30px;
}
col#col2 {
    width: 130px;
}
col#col3 {
    width: 140px;
}
col#col4 {
    width: 70px;
}
col#col5 {
    width: 157px;
}
col#col6 {
    width: 120px;
}
col#col7 {
    width: 163px;
}
col#col8 {
    width: 120px;
}
.paginator {
    width: 478px;
    height: 30px;
    text-align: center;
    margin: 60px auto;
    position: relative;
    cursor: default;

    .prev, .next {
        position: absolute;
        display: block;
        top: 7px;
        cursor: pointer;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    .item {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #9BA6B1;
        text-align: center;
        cursor: pointer;
        line-height: 26px;
        font-family: "MyriadProRegular";
        text-decoration: none;

        &.current {
            border: 2px solid #9ba6b1;
        }
    }
}
.plus, .calendar {
    display: block;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 40px;
    position: absolute;
    cursor: pointer;
}
.calendar {
    top: 90px;
    background: #316CF9;
    border-radius: 50%;

    &:before {
        @include sprite($calendar_white);
        content: '';
        display: block;
        top: 9px;
        left: 11px;
        position: absolute;
    }
}
.action-on .blue-header {
    display: block;
}
.blue-header {
    display: none;
    width: 980px;
    height: 54px;
    margin: 0 auto;
    margin-top: 14px;
    background-color: #316cf9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 14px 0 0 20px;
    color: white;
    font-size: 13px;

    * {
        vertical-align: top;
    }
    .checkbox {
        display: block;
        width: 18px;
        height: 18px;
        border: 2px solid white;
        border-radius: 3px;
        float: left;
        margin-right: 12px;
        text-align: center;
        margin-top: 4px;
        cursor: pointer;
        position: relative;

        div {
            width: 8px;
            height: 2px;
            position: absolute;
            left: 3px;
            top: 6px;
            background: white;
        }
    }
    .label {
        display: block;
        float: left;
        margin-right: 60px;
        margin-top: 5px;
    }
    button {
        padding: 6px 12px;
        border-radius: 3px;
        display: inline-block;
        margin-right: 20px;
        border: none;
        outline: none;
        background: #1D4AB7;
        float: left;

        &[disabled] {
            opacity: 0.7;
        }
    }
}
a.link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid #5F85E9;
    }
}
.claimForm, .dialog {
    width: 840px;
    color: white;
    position: relative;

    .head {
        display: table;
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
    }
    .cell {
        display: table-cell;
        vertical-align: middle;
    }
    .claim-no {
        vertical-align: middle;
        display: inline-block;
        margin-right: 20px;
        font-size: 34px;
    }
    .status {
        font-size: 10px;
        display: inline-block;
        vertical-align: middle;
        padding: 5px 8px;
        text-transform: uppercase;
        border-radius: 3px;

        &.saved {
            background: #5CE09B;
        }
    }
    .arcticmodal-close {
        position: absolute;
        top: 5px;
        right: 0;
        display: block;
        text-indent: -20000px;
        color: transparent;
        cursor: pointer;
        @include sprite($close);

        &:hover {
            @include sprite($close_hover);
        }
    }
    .wrap {
        border-radius: 3px;
        background: white;
        color: #9BA0A6;
        position: relative;
    }
    .form-heading {
        background: #F7F7F7;
        font-size: 15px;
        color: #3B3E41;
        border-bottom: 1px solid #d8d8d8;

        .col-xs-3 {
            border-right: 1px solid #d8d8d8;
            padding-top: 18px;
            padding-bottom: 23px;

            .title {
                margin-bottom: 11px;
            }
            &:last-child {
                border-right: none;

                .title {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .title {
        font-size: 11px;
        color: #9BA0A6;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    .form-body {
        padding: 40px;
    }
    .divider {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAAAAADRSSBWAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAC0lEQVR42mO4cQMAAosBsS6ZxYcAAAAASUVORK5CYII=) repeat-x center;
        font-size: 15px;
        color: #57595C;
        text-align: center;
        margin-bottom: 20px;
        position: relative;

        span {
            background: white;
            display: inline-block;
            padding: 0 18px;
        }
        .plus {
            display: block;
            position: absolute;
            left: 691px;
            top: -11px;
            cursor: pointer;
            transition: transform 0.3s;

            &.active {
                transform: rotate(45deg);
            }
        }
    }
    .disclaimer {
        color: #8D9FB1;
        font-size: 14px;
        margin-top: 20px;

        a {
            color: #5f85e9;
        }
    }
    .form-footer {
        border-top: 1px solid #E6E9ED;
        padding: 18px 30px;
        background: #E6E9ED;
    }
    .button {
        display: inline-block;
        font-size: 14px;
        padding: 12px 20px 10px 20px;
        min-width: 133px;
        border: 1px solid;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 10px;
    }
    .button-blue {
        background: #5F85E9;
        color: white;
        border-color: #5F85E9;
    }
    .button-white {
        background: white;
        color: #5F85E9;
        border-color: #DCDCDC;
    }
    .tabs {
        padding: 30px 40px;
        border-bottom: 1px solid #d8dfe7;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1;

        a {
            text-decoration: none;
            margin: 0 40px 4px 0;
            display: inline-block;
            font-size: 14px;
            color: #AEB4BA;
            border-bottom: 2px solid white;

            &.active {
                color: #5F85E9;
            }
            &:hover {
                color: #5F85E9;
                border-color: #5F85E9;
            }
        }
    }
}
.attention {
    background: #FFF9DA;
    padding: 22px 28px;
    font-size: 14px;
    color: #3B3E41;
    margin-bottom: 20px;

    .not {
        display: block;
        float: left;
        margin-right: 20px;
    }
}
.claimFormBig {
    .form-body {
        padding-top: 0;
    }
    .form-heading {
        // border-top: 1px solid #d8d8d8;
    }
}
.approval-border {
    border: 10px solid #fff2d3;
    margin: 0 -54px 30px -54px;
    padding: 35px 54px 10px 54px;
}
table.founders {
    th {
        color: #999;
        font-size: 13px !important;
        text-transform: uppercase;
        text-align: left;
    }
    tr {
        border-bottom: 1px solid #dadada;
        cursor: pointer;
        color: #333;

        &:last-child {
            border-bottom: none;
        }
    }
    td, th {
        font-size: 14px;
        padding: 20px 0;
    }
    .col1 {
        width: 30px;
    }
    .col2 {
        width: 280px;
    }
    .col3 {
        width: 132px;
    }
    .col4 {
        width: 82px;
    }
    .col5 {
        width: 109px;
    }
    .col6 {
        width: 100px;
    }
}
.add-new-founder {
    position: relative;
    background-color: #f6f6f6;
    margin: 25px -75px 0 -75px;
    padding: 20px 75px;

    .divider span {
        background-color: #f6f6f6;
    }
    .divider:first-child {
        top: -29px;

        span {
            display: inline-block;
            background-repeat: repeat-x;
            background-position: center;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAIAAAD+ApjoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAdSURBVHjaYvz//z8DAwMTAwMDORTL9+/fKdAOGAAtEwYIc2ipvQAAAABJRU5ErkJggg==)
        }
    }
}
.file-upload {
    .item {
        @include clearfix();
    }
    .filename {
        float: left;
        color: #454E58;
    }
    .fileinfo {
        float: right;
    }
    .delete {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        cursor: pointer;
    }
}
.temp-links-cnt {
    position: fixed;
    top: 11px;
    left: 50%;
    margin-left: -260px;
    width: 600px;
    background: #1F4690;
    width: 600px;
    height: 50px;
    z-index: 1000;
    border-radius: 3px;
    color: white;
    padding-top: 7px;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
        margin: 0 10px;
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: white;
        }
    }
}
.dialog {
    font-size: 28px;
    width: 720px;
    text-align: center;

    .arcticmodal-close {
        top: -40px;
    }
    button {
        width: 143px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        outline: none;
        border-radius: 3px;
        font-size: 13px;
        display: inline-block;
        border: none;
        background: white;
        color: #75777F;
        margin-right: 20px;

        &.danger {
            color: white;
            background: #F93C3C;
        }
        &.grey {
            color: #75777F;
        }
        &.blue {
            background-color: #5F85E9;
            color: white;
        }
    }
    .wrap {
        color: #444;
        background: #F3F3F3;
        padding: 100px 121px;
    }
    .msg {
        margin-bottom: 56px;
    }
    .red {
        color: #FF5D32;
    }
    &.errors .wrap {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    &.form-sent-time .wrap {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    &.pass-change {
        width: 440px;

        .wrap {
            padding: 56px 70px 50px 70px;
        }
        input {
            display: block;
            width: 100%;
            height: 50px;
            border: 1px solid #cad0d6;
            line-height: 50px;
            color: #A1A9B5;
            font-size: 13px;
            padding: 0 18px;
            margin-bottom: 10px;

            &[type="submit"] {
                border: none;
                background: #5F85E9;
                margin-top: 20px;
                color: white;
            }
        }
    }
    &.orders-choose {
        width: 420px;

        .wrap {
            padding-right: 0;
            padding-left: 0;

            button {
                display: inline-block;
            }
            button:last-child {
                margin-right: 0;
            }
        }
    }
    &.form-sent .wrap {
        background: #51DF95;
        color: white;

        button {
            border: 1px solid white;
            color: white;
            background: #51df95;
        }
        button.list {
            color: #51DF95;
            background: white;
        }
    }
    &.comment-history {
        width: 840px;

        .link {
            font-size: 15px;
            color: #878787;
            position: absolute;
            top: 12px;
            left: 600px;

            &:hover {
                border-color: #878787;
            }
        }
        .arcticmodal-close {
            top: -49px;
        }
        .wrap {
            height: 644px;
            padding: 0;
            background: white;
        }
        .headlinks {
            background: rgba(255, 255, 255, 0.8);
            height: 77px;
            width: 100%;
            display: table;
            border-bottom: 1px solid #d8dfe7;
            position: relative;
            z-index: 1;

            .cell {
                display: table-cell;
                padding: 0 40px;
                vertical-align: middle;
                text-align: left;
            }
            a {
                color: #aeb4ba;
                font-size: 14px;
                display: inline-block;
                margin-right: 40px;
                text-decoration: none;
                margin-bottom: 4px;
                border-bottom: 1px solid transparent;
                font-family: "MyriadProSemiBold";

                &:hover {
                    border-bottom: 1px solid #aeb4ba;
                }
                &.active {
                    color: #5F85E9;

                    &:hover {
                        border-bottom: 1px solid #5f85e9;
                    }
                }
            }
        }
        .chat {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            padding: 40px;
            color: white;
            font-size: 14px;

            .message {
                text-align: left;
            }
            .body {
                width: 437px;
                font-size: 19px;
                border-radius: 12px;
                background: #3ACD64;
                margin-bottom: 10px;
                padding: 30px;
                display: inline-block;
                text-align: left;
            }
            .name {
                color: #8D9FB1;
                font-family: "MyriadProSemiBold";
                margin-bottom: 6px;
            }
            .date {
                color: #BDC2C8;
            }
            .message.client {
                text-align: right;

                .body {
                    background: #359BF7;
                }
                .name, .date {
                    text-align: right;
                }
            }
        }
    }
}
.user-input-wrap {
    height: 75px;
    position: relative;
    border-top: 1px solid rgb(216, 216, 216);

    #user-comment {
        height: 100%;
        border: none;
        outline: none;
        padding: 25px;
        width: 100%;
        padding-right: 135px;
        color: #B8C1CE;
    }
    #user-comment::-webkit-input-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    #user-comment::-moz-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    #user-comment:-moz-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    #user-comment:-ms-input-placeholder {
        color: #b8c1ce;
        font-style: 14px;
    }
    #btn-add-comment {
        position: absolute;
        right: 0;
        top: 0;
        color: #359BF7;
        font-size: 18px;
        height: 100%;
        padding: 0 25px;
        background: none;
        border: none;
        outline: none;
    }
}
.no-claims {
    font-size: 40px;
    color: #1F1F1F;
    text-align: center;
    position: relative;
    margin-top: 270px;

    .link {
        color: #316CF9;

        &:hover {
            border-color: #316CF9;
            border-width: 3px;
        }
    }
}
.loader {
    width: 238px;
    height: 87px;
    border-radius: 4px;
    background: #1A1A1A;
    color: white;
    font-size: 13px;
    position: absolute;
    left: 103px;
    bottom: 118px;
    padding-top: 36px;
    padding-left: 23px;

    .circle {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
        width: 22px;
        height: 22px;
    }
}